* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

@font-face {
  font-family: Poppins;
  src: url("./fonts/Poppins/Poppins-Regular.ttf");
}

body {
  font-family: Poppins;
}

.darkModal {
  background-color: red;
}
